@import "../assets/scss/global";

.container-form {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.divForm {
  font-family: 'Open Sans', sans-serif;
  width: 42%;
  height: 100%;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
}

h1 {
  margin-top: 0;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  gap: 15px;

  button {
    border: 1px solid black;
  }

  button:hover {
    box-shadow: 0 0 10px #719ECE;
    background-color: white;
  }

  input:focus-visible, select:focus-visible {
    outline: none !important;
    border: 1px solid lightblue;
    box-shadow: 0 0 10px #719ECE;
    padding: 1px 5px;
  }

  input:hover, select:hover {
    box-shadow: 0 0 10px #719ECE;
  }

  input::placeholder, select {
    font-family: 'Open Sans', sans-serif;
  }

  input,
  select,
  textarea {
    padding: 0 3px;
    margin: 0;
    height: 30px;
    width: 100%;
    border: 1px solid black;
  }

  input::placeholder {
    padding-left: 5px;
  }

  select {
    width: 508px !important;
    height: 32px;
  }
}

.ingredientsForm {
  gap: 10px;
  display: flex;
  height: 30px;
  padding: 0;
  margin: 0;
  width: 508px;

  input {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  select {
    height: 108%;
  }
}

.add-ingredient-btn {
  width: 80px;
  height: 32px;
}

.ingredient-display {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.tags-form {
  display: flex;
  width: 508px;
  gap: 10px;

  button {
    width: 34px;
  }
}

.tag-display-form {
  display: flex;
  gap: 10px;
}

.validate-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;

  .submit-button {
    width: 170px;
    height: 30px;
    border-radius: 5px;
  }
}
