.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.filter {
    margin-bottom: 10px;
}

.filter input {
    width: 200px;
}

.filter button {
    width: 100px;
}

.container-home .container-header {
    height: 150px;
}

.container-home .sort-buttons {
    display: flex;
    gap: 5px;
}

.container-home .sort-buttons button {
    width: 150px;
}
.container-home::-webkit-scrollbar {
    display: none;
  }

.container-home h3 {
    text-align: center;
}

.container-home {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 600px;
    background: rgb(228, 233, 240);
    overflow-y: scroll;
}

.container-home .recipe {
    width: 100%;
    height: 100px;
    border-top: solid black 1px;
}