.main {
  margin-top: 100px;
  background-color: #e6ccb2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1195px;
  margin-left: auto;
  margin-right: auto;
  height: 782px;
  padding: 15px;
  border: 2px solid #b08968;
  border-radius: 30px;
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
}

.title {
  padding: 10px;
  min-width: 150px;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  font-size: x-large;
}

.select-portion {
  width: 40px;
  height: 30px;
  text-align: center;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  padding: 30px;

  .left {
    width: 559px;
    height: 592px;
    

    img {
      border: 2px solid #6f1d1b;
      border-radius: 30px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }

  .right {
    width: 559px;
    height: 592px;
    display: flex;
    align-items: center;
    justify-content: center;

    .info {
      width: 559px;
      height: 308px;
      background: #f3e9dc;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 5px 20px;
      border: 2px solid #6f1d1b;
      border-radius: 30px;

      .ingredients-list {
        background: #e6ccb2;
        width: 167px;
        height: 240px;
        border-radius: 5px;
      }

      .details {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 50%;

        .time {
          background: #e6ccb2;
          width: 98px;
          height: 33px;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
        }

        .level {
          background: #e6ccb2;
          width: 98px;
          height: 33px;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
        }

        .tags {
          background: #e6ccb2;
          min-width: 98px;
          height: 33px;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          gap: 5px;

          .tag {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 55px;
            height: 22px;
            padding: 3px;
            border-radius: 7px;
            border: 1px solid #000;
            background: #FDFDFD;
          }
        }

        .portion {
          background: #e6ccb2;
          min-width: 98px;
          height: 33px;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          gap: 10px;
        }
      }
    }
  }
}
